@{
    ViewBag.Title = "통계보기";
    Booking.Models.BookingOrderListQuery query = (Booking.Models.BookingOrderListQuery)ViewBag.Query;
    int i = 0;
}
@model IEnumerable<Booking.Models.BookingStatistics>
<div class="content">
        <form name="form" method="post" action="/home/viewgroup">

            <!--hidden 값-->
                        <!-- Menu Title -->
            <ul class="list-group menu-title">
                <li class="list-group-item list-group-item-info"><span class="group_field"></span> 통계(취소건 제외)</li>
            </ul>					<!--//Menu Title -->

            <div class="panel-body">
                <div class="form-group">
                    <select name="CourseId">
                        <option value="">골프장구분</option>
                        @foreach (var item in ViewBag.Place)
                        {
                            if (query.CourseId == item.CourseId)
                            {
                                <option value='@item.CourseId' selected>@item.CourseName</option>
                            }
                            else {
                                <option value='@item.CourseId'>@item.CourseName</option>
                            }

                        }
                    </select>

                    <select name="BookingStatus">
                        <option value="">예약구분</option>
                        <option value='success'>완료</option>
                        <option value='close'>취소</option>
                    </select>
                    <select name="SettleStatus">
                        <option value="">정산구분</option>
                        <option value='success'>완료</option>
                        <option value='waiting'>대기</option>
                    </select>

                </div><!--//.form-group -->

                <div class="form-group">
                    <select name="DateType">
                        <option value='booking_date' selected>예약일</option>
                        <option value='appointment_date'>접수일</option>
                    </select>
                    <input type="text" name="BeginDate" class="calendar only_date height-22" autocomplete="off" maxlength="10" id="s_date" value="@query.BeginDate.ToString("yyyy-MM-dd")">
                    <label>~</label>
                    <input type="text" name="EndDate" class="calendar only_date height-22" autocomplete="off" maxlength="10" id="l_date" value="@query.EndDate.ToString("yyyy-MM-dd")">	                    
                    <label>통계선택</label>
                    <select name="SortFiled">
                        <option value='appointment_date'>접수일별</option>
                        <option value='booking_date' selected>예약일별</option>
                        <option value='course_name'>골프장별</option>
                        <option value='settle_status'>정산구분별</option>
                    </select>

                    <select name="SortType" class="color-red" title="▲:낮은순 ▼:높은순" style="width:auto !important;">
                        <option value='ASC'>▲</option>
                        <option value='DESC'>▼</option>
                    </select>
                    <div id="print">

                        <button type="submit" class="btn btn-xs btn-success"><i class="fa fa-search"></i> 검색</button>
                        <button type="button" class="btn btn-xs btn-warning" onclick="javascript: location.reload();"><i class="fa fa-refresh"></i> 새로고침</button>
                        <button type="button" class="btn btn-xs bg-purple prt only_tooltip" onclick="javascript:printPage('0');"><i class='fa fa-print fa-custom-2' title='출력'></i></button>
                    </div>
                </div><!--//.form-group -->
            </div><!--//.panel-body -->

            <div class="col-xs-12" style="margin-bottom:30px;">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2" class="group_field">예약일별</th>
                                <th rowspan="2"><a href="javascript:void(0);" class="only_tooltip" title="인원 * 0.25">건수</a></th>
                                <th rowspan="2">인원</th>
                                <th colspan="3">그린피</th>
                                <th rowspan="2">수수료</th>
                            </tr>
                            <tr>
                                <th>현장</th>
                                <th>선입</th>
                                <th>합계</th>
                            </tr>
                        </thead>
                        <tbody id="container">
                            @foreach (var item in Model)
                            {
                                i = i + 1;
                            <tr>
                                <td>@i</td>
                                <td class="text-left">
                                    @if (query.SortFiled == "appointment_date" || query.SortFiled == "booking_date")
                                    {
                                    <span class="sDate">@Convert.ToDateTime(item.GroupValue).ToString("yyyy-MM-dd")</span>
                                    <span class="sWeek color-red font-11"></span>
                                    }
                                    else {
                                        if (item.GroupValue == "success")
                                        {
                                            <span>완료</span>
                                        }
                                        else if (item.GroupValue == "waiting")
                                        {
                                            <span>대기</span>
                                        }
                                        else {
                                            <span>@item.GroupValue</span>
                                        }
                                    }
                                </td>
                                <td>@item.OrderCount</td>
                                <td>@item.PeopleNumber</td>
                                <td class="text-right only_auto_comma">@item.PayBalance</td>
                                <td class="text-right only_auto_comma">@item.Deposit</td>
                                <td class="text-right only_auto_comma">@item.SubTotal</td>
                                <td class="text-right only_auto_comma">@item.Commission</td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="bg-ivory">
                                <td>&nbsp;</td>
                                <td class="text-left">&nbsp;</td>
                                <td>@Model.Sum(m=>m.OrderCount)</td>
                                <td>@Model.Sum(m => m.PeopleNumber)</td>
                                <td class="text-right only_auto_comma">@Model.Sum(m => m.PayBalance)</td>
                                <td class="text-right only_auto_comma">@Model.Sum(m => m.Deposit)</td>
                                <td class="text-right only_auto_comma">@Model.Sum(m => m.SubTotal)</td>
                                <td class="text-right only_auto_comma">@Model.Sum(m => m.Commission)</td>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div><!--//.table-responsive-->
            </div><!--//.col-xs-12-->
        </form>
    </div><!--//.content-->

@section Scripts {
    <style type="text/css">
    .search-wrap .btn {
        margin-bottom: 0px;
    }

    .table-none > tbody > tr > td:first-child {
        min-width: 60px;
        font-weight: bold;
        padding: 10px 0px;
        background: #f1f1f1;
    }
</style>
    <script type="text/javascript">
        $(function () {

            $("select[name=BookingStatus]").val('@query.BookingStatus');
            $("select[name=SettleStatus]").val('@query.SettleStatus');
            $("select[name=DateType]").val('@query.DateType');
            $("select[name=BeginDate]").val('@query.BeginDate');
            $("select[name=EndDate]").val('@query.EndDate');
            $("select[name=SortFiled]").val('@query.SortFiled');
            $("select[name=SortType]").val('@query.SortType');

            $("#container").find("tr").each(function () {
                if ('@query.SortFiled' == "appointment_date" || '@query.SortFiled' == "booking_date") {               
                    var week = common_get_yoil($(this).find(".sDate").html());
                    $(this).find(".sWeek").html("[" + week + "] ");
                }
            });
            $(".group_field").html($("select[name=SortFiled]").find("option:selected").html());
        });
    </script>
}

