@{
    ViewBag.Title = "부킹관리";
    Booking.Models.BookingOrderListQuery query = (Booking.Models.BookingOrderListQuery)ViewBag.Query;
    int i = 0;
    string hour = "";
    string minute = "";
}
@model Booking.Models.BookingOrderList
 <div class="content">
        <form id="reqForm" name="form" method="post" action="/home/viewlist">

            <!--hidden 값-->
            <input type="hidden" id="startNum" name="StartNum" value="@Model.PageData.StartNum" />
            <input type="hidden" id="pageNum" name="PageNum" value="@Model.PageData.PageNum" />

            <!-- Menu Title -->
            <ul class="list-group menu-title">
                <li class="list-group-item list-group-item-info">부킹 관리</li>
            </ul>					<!--//Menu Title -->

            <div class="panel-body">
                <div class="form-group">

                    <select name="CourseId">
                        <option value="" >골프장구분</option>
                        @foreach (var item in ViewBag.Place)
                        {
                            if (query.CourseId == item.CourseId)
                            {
                                <option value='@item.CourseId' selected>@item.CourseName</option>
                            }
                            else {
                                <option value='@item.CourseId'>@item.CourseName</option>
                            }

                        }
                    </select>

                    <select name="BookingStatus">
                        <option value="">예약구분</option>
                        <option value='success'>완료</option>
                        <option value='close'>취소</option>
                    </select>
                    <select name="SettleStatus">
                        <option value="">정산구분</option>
                        <option value='success'>완료</option>
                        <option value='waiting'>대기</option>
                    </select>

                </div><!--//.form-group -->

                <div class="form-group">
                    <select name="DateType">
                        <option value='booking_date' selected>예약일</option>
                        <option value='appointment_date'>접수일</option>
                    </select>
                    <input type="text" name="BeginDate" class="calendar only_date height-22" autocomplete="off" maxlength="10" id="s_date" value="@query.BeginDate.ToString("yyyy-MM-dd")">
                    <label>~</label>
                    <input type="text" name="EndDate" class="calendar only_date height-22" autocomplete="off" maxlength="10" id="l_date" value="@query.EndDate.ToString("yyyy-MM-dd")">							
                    <select name="SortFiled">
                        <option value="">정렬필드</option>
                        <option value='appointment_date'>접수일</option>
                        <option value='booking_date'>예약일</option>
                        <option value='course_id'>골프장명</option>
                        <option value='pay_balance'>그린피-현장</option>
                        <option value='deposit'>그린피-선입</option>
                        <option value='sub_total'>그린피-합계</option>
                        <option value='commission'>수수료</option>
                        <option value='booking_username'>예약자</option>
                        <option value='phone'>예약자-전화</option>
                        <option value='member_number'>예약인원</option>
                        <option value='description'>비고사항</option>
                        <option value='booking_status'>예약구분</option>
                        <option value='settle_status'>정산구분</option>
                    </select>
                    <select name="SortType" class="color-red" title="▲:낮은순 ▼:높은순" style="width:auto !important;">
                        <option value='ASC'>▲</option>
                        <option value='DESC'>▼</option>
                    </select>
                    <select name="SearchFiled">
                        <option value=''>검색필드</option>
                        <option value='appointment_date'>접수일</option>
                        <option value='booking_date'>예약일</option>
                        <option value='course_id'>골프장명</option>
                        <option value='pay_balance'>그린피-현장</option>
                        <option value='deposit'>그린피-선입</option>
                        <option value='sub_total'>그린피-합계</option>
                        <option value='commission'>수수료</option>
                        <option value='booking_username'>예약자</option>
                        <option value='phone'>예약자-전화</option>
                        <option value='member_number'>예약인원</option>
                        <option value='description'>비고사항</option>
                        <option value='booking_status'>예약구분</option>
                        <option value='settle_status'>정산구분</option>
                    </select>
                    <select name="SearchType" class="color-red" style="width:auto !important;">
                        <option value='%' title='비슷'>%</option>
                        <option value='=' title='일치'>=</option>
                        <option value='>=' title='이상'>>=</option>
                        <option value='<=' title='이하'><=</option>
                        <option value='>' title='초과'>></option>
                        <option value='<' title='미만'><</option>
                        <option value='!=' title='일치X'>!=</option>
                        <option value='!%' title='비슷X'>!%</option>
                        <option value='%~' title='뒷비슷'>%~</option>
                        <option value='~%' title='앞비슷'>~%</option>
                    </select>
                    <script type="text/javascript">
                        $(function () {

                            $("form #lst_num").click(function () {
                                $(this).select();
                            }).change(function () {
                                var data = $(this).val().replace(/\s+/g, "");
                                if (data != '' && parseInt(data, 10) == '0') {
                                    $(this).val('');
                                }
                            });

                            //목록수 조정 aSep :3지리 숫자에 컴마를 찍지 않게 조정
                            var someOptions = { vMin: '0', vMax: '1000', mDec: '0', aSep: '' };	// http://www.decorplanit.com/plugin/참조
                            $('#lst_num').autoNumeric('init', someOptions);
                        });
                    </script>
                    <input type="text" name="PageSize" class="text-center only_tooltip" value="@Model.PageData.PageSize" id="lst_num" title="페이지당 목록수(최대1000)" autocomplete="off" style="width:25px !important;">
                    <input type="search" results="10" name="SearchValue" value="@query.SearchValue" id="txt_find" title="검색어" style="width:75px !important;">
                    <script type="text/javascript">
	$(function(){
		if($('#txt_find').val()){
			$('#txt_find').focus().select();
		}
		$("form #txt_find").on({
			//가끔 IE9에서 placeholder가 없어지지 않아서..다음과 같이 처리..
			//focus:function(){
				//$(this).select();
			//}
		});
	});
                    </script>
                    <div id="print">

                        <button type="submit" class="btn btn-xs btn-success"><i class="fa fa-search"></i> 검색</button>
                        <button type="button" class="btn btn-xs btn-warning" onclick="javascript:window.location.reload()"><i class="fa fa-refresh"></i> 새로고침</button>
                        <button type="button" class="btn btn-xs btn-primary" onclick="javascript:location.href='/booking/write?mode=write'"><i class="fa fa-pencil"></i> 단독입력</button>

                        <button type="button" class="btn btn-xs btn-primary" onclick="javascript: location.href = '/booking/multiwrite'"><i class="fa fa-pencil"></i> 멀티입력</button>

                        <button type="button" class="btn btn-xs bg-purple prt only_tooltip" onclick="javascript:printPage('0');"><i class='fa fa-print fa-custom-2' title='출력'></i></button>																	
                        <button type="button" class="btn btn-xs bg-green" onclick="javascript:save_excel();"><i class='fa fa-custom' title='액셀저장'>xls</i></button>
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div><!--//.form-group -->
            </div><!--//.panel-body -->

            <div class="list-info">총  @Model.PageData.MaxCount   건 : 총 <span id="total_page"></span> 페이지</div>

            <div class="col-xs-12" style="margin-bottom:30px;">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2"><i class="fa fa-check color-red" onclick="checkbox_check_all();" title="전체 선택/해제"></i></th>
                                <th rowspan="2">접수일</th>
                                <th rowspan="2">예약일시</th>
                                <th rowspan="2" style="width:70px !important;">예약자</th>
                                <th rowspan="2" style="min-width:80px !important;">연락처</th>
                                <th rowspan="2" style="min-width:90px !important;">골프장</th>
                                <th rowspan="2">인원</th>
                                <th colspan="2">그린피 결제(인당)</th>
                                <th rowspan="2">수수료<br />(인당)</th>
                                <th rowspan="2">수수료<br />(인당*인원)</th>
                                <th rowspan="2" style="width:90px !important;">비 고</th>
                                <th rowspan="2">예약<br />구분</th>
                                <th rowspan="2">정산<br />구분</th>
                                <th rowspan="2" style="width:70px !important;">매니져</th>
                            </tr>
                            <tr>
                                <th>현장</th>
                                <th>선입</th>
                            </tr>
                        </thead>
                        <tbody id="container">
                            @foreach (var item in Model.bookingOrderList)
                            {
                                int num = Model.PageData.StartNum + i;
                                i = i + 1;
                                string color = "";
                                if (item.BookingStatus == "close")
                                { color = "#FFCCCC"; }
                                if (item.SettleStatus == "success")
                                { color = "#adc8e7"; }
                                <tr bgcolor="@color">
                                    <td>
                                        @num
                                    </td>
                                    <td>
                                        @if (item.BookingStatus == "close" || item.SettleStatus == "success")
                                        {
                                            <input type='checkbox' disabled />
                                        }
                                        else
                                        {
                                            <input type='checkbox' name='my_check' value='@item.OrderId'>
                                        }
                                    </td>
                                    <td>@item.AppointmentDate.ToString("yyyy-MM-dd")</td>
                                    <td class="tdBookingDate">
                                        <span class="sDate">@item.BookingDate.ToString("yyyy-MM-dd hh:mm") 
                                        </span>
                                        <span class="sWeek color-red font-11"></span>
                                    </td>
                                    <td class="text-left ws-normal">@item.BookingUserName</td>
                                    <td class="text-left">@item.Phone</td>
                                    <td class="text-left ws-normal">
                                        @item.CourseName<br /><span class="color-red font-11"></span>
                                    </td>
                                    <td>@item.MemberNumber</td>
                                    <td class="text-right only_auto_comma">@item.PayBalance</td>
                                    <td class="text-right">
                                        <span class='color-black only_popover only_auto_comma' popover-content='' popover-title='입금 완료 내역'>@item.Deposit</span>
                                    </td>
                                    <td class="text-right">@item.Commission</td>
                                    <td class="text-right">@item.TotalCommission</td>
                                    <td class="text-left ws-normal">@item.Description</td>
                                    <td>
                                        @if (item.BookingStatus == "success")
                                        {
                                             <button type='button' class='btn btn-xs btn-primary' disabled> 
                                                <span>완료</span>
                                             </button>
                                        }
                                        else if (item.BookingStatus == "close")
                                        {
                                            <button type='button' class='btn btn-xs btn-danger' disabled>
                                                <span>취소</span>
                                            </button>
                                        }
                                    </td>
                                    <td>
                                        @if (item.SettleStatus == "success")
                                        {
                                            <button type='button' class='btn btn-xs btn-primary' disabled>
                                                <span>완료</span>
                                            </button>
                                        }
                                        else if (item.SettleStatus == "waiting")
                                        {
                                            <button type='button' class='btn btn-xs btn-danger' disabled>
                                                <span>대기</span>
                                            </button>
                                        }
                                    </td>
                                    <td class="text-left ws-normal">@item.UserName</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="bg-ivory">
                                <td colspan="7" class="text-bold text-right">완료 ( @Model.bookingOrderList.Where(m=>m.BookingStatus=="success").Count() 건)</td>
                                <td>@Model.bookingOrderList.Where(m => m.BookingStatus == "success").Sum(m=>m.MemberNumber)</td>
                                <td class="text-right only_auto_comma">@Model.bookingOrderList.Where(m => m.BookingStatus == "success").Sum(m => m.PayBalance)</td>
                                <td class="text-right only_auto_comma">@Model.bookingOrderList.Where(m => m.BookingStatus == "success").Sum(m => m.Deposit)</td>
                                <td class="text-right only_auto_comma">@Model.bookingOrderList.Where(m => m.BookingStatus == "success").Sum(m => m.Commission)</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            @if (Model.bookingOrderList.Where(m => m.BookingStatus == "close").Count()>0) {
                            <tr class="bg-gray-1">
                                <td colspan="7" class="text-bold text-right">취소 (@Model.bookingOrderList.Where(m => m.BookingStatus == "close").Count()건)</td>
                                <td>@Model.bookingOrderList.Where(m => m.BookingStatus == "close").Sum(m => m.MemberNumber)</td>
                                <td class="text-right only_auto_comma">@Model.bookingOrderList.Where(m => m.BookingStatus == "close").Sum(m => m.PayBalance)</td>
                                <td class="text-right only_auto_comma">@Model.bookingOrderList.Where(m => m.BookingStatus == "close").Sum(m => m.Deposit)</td>
                                <td class="text-right only_auto_comma">@Model.bookingOrderList.Where(m => m.BookingStatus == "close").Sum(m => m.Commission)</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            }
                        </tfoot>
                    </table>
                </div><!--//.table-responsive-->

                <div class="list-option">
                    <i class="fa fa-check color-red" onclick="checkbox_check_all();" title="전체 선택/해제"></i>
                    <span>체크된 모든 것</span>&nbsp;&nbsp;&nbsp;
                    <button type='button' class='btn btn-xs btn-danger' onclick="check_all_delete('');">
                        <span>취소</span>
                    </button>&nbsp;
                    @if (Context.User.Identity.AuthenticationType == "Admin")
                    {
                        <button type='button' class='btn btn-xs btn-danger' onclick="check_all_settle('');">
                            <span>정산</span>
                        </button>
                    }
                    &nbsp; &nbsp;
                </div>

                <!-- Pagenation -->
                <div id="pager" class="pagenation">
                </div>	
            	<!--//Pagenation -->
            </div><!--//.col-xs-12-->
        </form>
    </div><!--//.content-->

@section Scripts {
<style type="text/css">
    .search-wrap .btn {
        margin-bottom: 0px;
    }

    .table-none > tbody > tr > td:first-child {
        min-width: 60px;
        font-weight: bold;
        padding: 10px 0px;
        background: #f1f1f1;
    }
</style>

<script type="text/javascript">
    $(function () {

        $("select[name=BookingStatus]").val('@query.BookingStatus');
        $("select[name=SettleStatus]").val('@query.SettleStatus');
        $("select[name=DateType]").val('@query.DateType');
        $("select[name=BeginDate]").val('@query.BeginDate');
        $("select[name=EndDate]").val('@query.EndDate');
        $("select[name=SortFiled]").val('@query.SortFiled');
        $("select[name=SortType]").val('@query.SortType');
        $("select[name=SearchFiled]").val('@query.SearchFiled');
        $("select[name=SearchType]").val('@query.SearchType');
        $("select[name=SearchValue]").val('@query.SearchValue');

        $("#container").find("tr").each(function () {
            var week=common_get_yoil($(this).find(".tdBookingDate .sDate").html());
            $(this).find(".tdBookingDate .sWeek").html("[" + week + "] ");

        });
        bind_pager();
        content_height();

    });

    function bind_pager() {
        var pageSize = $("#lst_num").val();
        $("#pager").empty();
        var pageCount = Math.floor((parseInt(@Model.PageData.MaxCount) + parseInt(pageSize) - 1) / pageSize);
        $("#total_page").html(pageCount);
        if (pageCount > 1) {
            $("#pager").pager({
                pagenumber: @Model.PageData.PageNum, pagecount: pageCount,
                buttonClickCallback: function (pageclickednumber) {
                    var startNum = (pageclickednumber - 1) * pageSize + 1;
                    $("#startNum").val(startNum);
                    $("#pageNum").val(pageclickednumber);
                    $("#reqForm").submit();
                }
            });
        }
    }
    function content_height(){
        if($(".sidebar").is(':visible')) {
            //해당 페이지 문서의 높이에 따라 .content의 min-height 값을 수정한다.
            //footer-wrap의 높이를 구한다
            //console.log("display : block");		//콘솔 메세지를 통해 css가 제대로 적용 됐는지 확인
            var footerHeight = $(".footer-wrap").height();
            //header의 높이 만큼 빼준다. 여기서 selector가 this라면 body의 현재 높이를 의미하고, document라면 html 문서의 높이값을 의미한다.
            //var minHeight = $(document).height() - 50 - footerHeight;	//빈공간 생겨서 아래 수식으로 변경함.
            var minHeight = $(document).height()-70 - footerHeight + 20;
            $(".content-wrap .content").css({"minHeight":minHeight+"px"});
        } else {
            //console.log("display : none");		//콘솔 메세지를 통해 css가 제대로 적용 됐는지 확인
            var minHeight = $(document).height() - 50 - 130;
            $(".content-wrap .content").css({"minHeight":minHeight+"px"});
        }
    }

    /* 삭제 */
    function check_all_delete(limit_count) {
        var chked = get_count_checked_checkbox();	//체크된 개수 알아내기
        var cart = get_cart_checked_checkbox();	//체크된 내용 가져오기
        if (!limit_count) limit_count = 20;		//디폴트 지정
        if (!chked) return false;
        if (chked > limit_count) {
            alert('[' + limit_count + ']건 이하로 선택하기 바랍니다.');
            return false;
        }
        var my_message = "총 [" + chked + "]건을 모두 삭제 하시겠습니까?";
        if (confirm(my_message)) {
            if (get_url_length(cart)) {	//URL길이체크후 넘기기
                $.ajax({
                    type: 'POST',
                    url: '/Booking/BookingHandle',
                    data: { orderid:cart,mode: "bookingdelete" },
                    //async: false, //설정하지 않은면 true
                    success: function (r) {
                        if(r.isSuccess){
                            alert("삭제 성공하였습니다.");
                            window.location.reload();
                        }
                        else
                            alert("삭제 실패하였습니다.");
                    }
                }); //ajax
            }
        }
    }

    if('@Context.User.Identity.AuthenticationType' == "Admin")
    {
        /* 정산 */
        function check_all_settle(limit_count) {
            var chked = get_count_checked_checkbox();	//체크된 개수 알아내기
            var cart = get_cart_checked_checkbox();	//체크된 내용 가져오기
            if (!limit_count) limit_count = 20;		//디폴트 지정
            if (!chked) return false;
            if (chked > limit_count) {
                alert('[' + limit_count + ']건 이하로 선택하기 바랍니다.');
                return false;
            }
            var my_message = "총 [" + chked + "]건을 모두 정산 하시겠습니까?";
            if (confirm(my_message)) {
                if (get_url_length(cart)) {	//URL길이체크후 넘기기
                    $.ajax({
                        type: 'POST',
                        url: '/Booking/BookingHandle',
                        data: {orderid:cart, mode: "settlesuccess" },
                        success: function (r) {
                            if(r.isSuccess){
                                alert("정산 성공하였습니다.");
                                window.location.reload();
                            }
                            else
                                alert("정산 실패하였습니다.");
                            }
                    }); //ajax
                }
            }
        }
    }
    function save_excel() {
        if('@Model.bookingOrderList.Count'==0)
        {
            alert("검색 결과가 없으면 액셀로 저장할수 없습니다.");
            return false;
        }
        var message = "검색 결과를 액셀로 저장하시겠습니까?";
        if (confirm(message))
            window.location.href = '/Home/ExportExcel';
        else return false;
    }
</script>
   
}

